.contact {
  padding: 185px 0 100px 0;
  &__body {
    display: flex;
    justify-content: center;
    margin: 120px 0 0 0;
  }

  &__user {
    display: inline-block;
    text-align: end;
    margin: 0 40px 0 0;
  }

  &__content {
    max-width: 285px;
    margin: 0 0 0 40px;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }

  &__name {
    margin: 30px 0 0 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
  }

  &__soc {
    display: flex;
    margin: 25px 0 18px 0;
  }

  &__email {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    a {
      font-weight: 700;
      color: #000000;
    }
  }
  @media (max-width: 1100px) {
    padding: 135px 0 80px 0;
  }
  @media (max-width: 767px) {
    padding: 100px 0 60px 0;
    &__body {
      flex-direction: column;
      margin: 90px 0 0 0;
    }
    &__user {
      margin: 0 40px 0 40px;
    }
    &__content {
      margin: 60px 0 0 40px;
    }
  }
  @media (max-width: 510px) {
    padding: 60px 0 60px 0;
    &__body {
      flex-direction: column;
      margin: 70px 0 0 0;
    }
    &__user {
      margin: 0;
      text-align: center;
    }
    &__content {
      margin: 60px 0 0 0;
    }
    &__name {
      margin: 15px 0 0 0;
    }
    &__soc {
      margin: 15px 0 10px 0;
    }
  }
}

.form-contact {
  &__body {
    max-width: 385px;
  }

  &__row {
    display: flex;
    margin: 0 -14px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    padding: 0 14px;
  }

  &__label {
    margin: 0 0 10px 0;
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 0.84px;
  }

  &__input {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
  }

  &__btn {
    font-weight: 700;
  }

  @media (max-width: 767px) {
    &__body {
      max-width: 100%;
    }
  }
  @media (max-width: 510px) {
    &__row {
      flex-direction: column;
    }
  }
}

.input {
  display: block;
  height: 35px;
  margin: 0 0 75px 0;
  padding: 0 15px;
  border-top: 1px solid black;
  background-color: #f8f7f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  &:focus {
    border-top: 1px solid green;
  }
  @media (max-width: 767px) {
    margin: 0 0 40px 0;
  }
}
textarea.input {
  resize: none;
  height: 118px;
  margin: 0 0 40px 0;
  padding: 10px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

.soc-contact {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 0 0;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 2px solid #1e1e1e;
    background-color: #ffffff;
  }
}
