.home {
  flex: 1 0 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
  &__content {
    z-index: 1;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: #ffffff;
    position: relative;
    padding: 45px 0;
    margin: 0 0 75px 0;
    ::before {
      content: "";
      width: 105px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -50px;
      background-color: white;
    }
  }

  &__title {
    color: #ffffff;
    @include adaptiv-font(34, 16);
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5.43px;
    span {
      padding: 10px 0 0 0;
      @include adaptiv-font(26, 12);
      font-weight: 400;
      text-transform: none;
      letter-spacing: 4.15px;
    }
  }

  &__arrow {
    position: relative;
    display: block;
    margin: 75px 0 0 0;
    animation: arrow 1.8s infinite ease;
  }
  @keyframes arrow {
    0% {
      top: 0;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0;
    }
  }

  &__image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @media (max-width: 767px) {
    padding: 35px 0;
    &__text {
      padding: 30px 0;
      margin: 0 0 30px 0;
    }
    &__arrow {
      margin: 35px 0 0 0;
    }
  }
}

.btn {
  position: relative;
  display: inline-block;
  height: 47px;
  padding: 0 42px;
  align-items: center;
  line-height: 45px;
  @include adaptiv-font(16, 14);
  text-transform: uppercase;
  letter-spacing: 0.67px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    //animation: button all 0.3ms ease 0s;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &-w {
    color: #ffffff;
    border: 1px solid white;
    &::before {
      background-color: #ffffff;
    }
  }
  &-b {
    color: black;
    border: 1px solid black;
    &::before {
      background-color: black;
    }
  }
  &:hover {
    &.btn-w {
      color: black;
    }
    &::before {
      transform: scale(1);
    }
    &.btn-b {
      color: white;
    }
    &::before {
      transform: scale(1);
    }
  }
}
